{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Web development involves creating and maintaining websites. It includes front-end development (user interface), back-end development (server-side logic), and full-stack development (both front-end and back-end).
            </p>
            <p>Integrated Development Environments (IDEs), text editors (e.g., Visual Studio Code), and browser developer tools aid in coding, debugging, and testing.</p>
            <p>Choosing hosting services and deploying web applications to make them accessible on the internet.</p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/a2.jpg'%}" alt="">
          </div>
        </div>

      </div>

      <h4 style="margin-top: 20px;">Website Basics:</h4>
      <p>A website is a collection of web pages that are interconnected and typically accessible through the internet.
        Basic components of a website include HTML (Hypertext Markup Language), CSS (Cascading Style Sheets), and often JavaScript for interactivity.</p>

        <h4 style="margin-top: 20px;">Content Management Systems:</h4>
        <p>CMS platforms like WordPress, Joomla, or Drupal make it easier to manage and update website content without extensive coding knowledge.</p>

          <h4 style="margin-top: 20px;">E-commerce Websites:</h4>
          <p>Websites designed for online commerce allow businesses to sell products or services over the internet.</p>

    </div>
  </section>
  {%endblock%}

  