{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Our Digital PR Services
              </h2>
            </div>
            <h4>Online Reputation Management (ORM):</h4>
            <p>
              Take control of your online narrative with our ORM services. We monitor online mentions, reviews, and social media conversations, strategically addressing and managing your brand's reputation to build trust among your audience.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/about-img.jpg'%}" alt="">
          </div>
        </div>

      </div>

      <h4 style="margin-top: 20px;">Media Outreach and Relationship Building:</h4>
      <p>Forge meaningful connections with key media outlets and influencers. Our team engages in strategic media outreach, securing positive coverage that enhances your brand image and positions you as an industry authority.</p>
      <h4 style="margin-top: 20px;">Crisis Management:</h4>
      <p>In the face of challenges, our crisis management strategies ensure a swift and effective response. We navigate through crises, mitigating negative impact and preserving your brand's integrity.</p>
      <h4 style="margin-top: 20px;">Thought Leadership Campaigns:</h4>
      <p>Position yourself as an industry thought leader through carefully curated campaigns. We create and distribute authoritative content, secure speaking opportunities, and position your experts as go-to sources in your field.</p>
    </div>
  </section>
  {%endblock%}

  