{%extends "index.html"%}
{%load static%}
{%block body%}

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="col-lg-4 col-md-5 offset-md-1">
        <div class="heading_container">
          <h2>
            Enquiry Now
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container">

            {%for i in messages%}
            <script>
              alert("{{i}}")
            </script>
            {%endfor%}

            <form action="" method="post">
              {%csrf_token%}
              <div>
                <input type="text" placeholder="Your Name" required/>
              </div>
              <div>
                <input type="text" placeholder="Phone Number" pattern="[0-9]{10}" required/>
              </div>
              <div>
                <input type="email" placeholder="Email" required/>
              </div>
              <div>
                <input type="text" placeholder="Your Address" required/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" required/>
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map">
              <div id="googleMap">
                <img src="{%static 'images/a2.jpg'%}" style="height: 80%; border-radius: 8px;" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    .map_container{
        margin-left: 10%;
    }
    @media (max-width: 1065px){
        .map_container{
        margin-left: 0%;
        width: 90%;
    }
    }
    @media (max-width: 767px){
        .map_container{
        margin-left: 5%;
        width: 90%;
    }
    }
  </style>
  <!-- end contact section -->
  {%endblock%}

  