{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Our Graphic Design Services
              </h2>
            </div>
            <h4>Brand Identity Design:</h4>
            <p>
              Unleash the power of a strong brand identity with our expert logo design, brand color palette, and visual elements that reflect your unique story and values.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/a4.jpg'%}" alt="">
          </div>
        </div>

      </div>

      <h4 style="margin-top: 20px;"> Print Design:</h4>
      <p>From business cards and brochures to posters and banners, our print design services ensure that your offline collateral aligns seamlessly with your online presence.</p>
      <h4 style="margin-top: 20px;">Web & Digital Design:</h4>
      <p>Make a digital impact with our web and digital design solutions. We create visually appealing websites, social media graphics, and digital assets that captivate your online audience.</p>
      <h4 style="margin-top: 20px;">Packaging Design:</h4>
      <p>Your product deserves packaging that not only protects but also entices. Our packaging designs are a perfect blend of creativity and functionality, making your product stand out on the shelves.</p>
      <h4 style="margin-top: 20px;">Illustrations & Infographics:</h4>
      <p>Transform complex information into engaging visuals. Our illustrative designs and infographics convey your message clearly and creatively, capturing the attention of your target audience.</p>
      <h4 style="margin-top: 20px;"> Motion Graphics:</h4>
      <p>Elevate your brand storytelling with dynamic motion graphics. From animated logos to promotional videos, we bring your brand to life through captivating motion design.</p>
    </div>
  </section>
  {%endblock%}

  