{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Our Paid Advertising Services
              </h2>
            </div>
            <h4>Pay-Per-Click (PPC) Advertising:</h4>
            <p>
              Harness the power of instant visibility with PPC advertising. Our experts design and implement strategic campaigns on platforms like Google Ads and Bing Ads, ensuring your brand appears at the top of search results when your audience is ready to engage.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/about-img.jpg'%}" alt="">
          </div>
        </div>

      </div>

      <h4 style="margin-top: 20px;">Social Media Advertising:</h4>
      <p>Amplify your brand on social platforms with targeted advertising campaigns. Whether it's Facebook, Instagram, LinkedIn, or Twitter, we create compelling ads that resonate with your audience and drive engagement, conversions, and brand awareness.</p>
      <h4 style="margin-top: 20px;">Display Advertising:</h4>
      <p>Capture the attention of your target audience through visually appealing display ads. Our design and targeting strategies ensure your brand stands out on websites relevant to your industry, generating interest and clicks.</p>
      <h4 style="margin-top: 20px;">Remarketing Campaigns:</h4>
      <p>Re-engage with potential customers who have already shown interest in your products or services. Our remarketing campaigns keep your brand top-of-mind, encouraging users to return and complete their desired actions.</p>
    </div>
  </section>
  {%endblock%}

  