{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Our Social Media Services
              </h2>
            </div>
            <h4>Social Media Strategy:</h4>
            <p>
              Develop a winning social media strategy tailored to your brand's goals. We analyze your target audience, industry trends, and competitors to create a roadmap that maximizes your impact across platforms.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/about-img.jpg'%}" alt="">
          </div>
        </div>

      </div>

      <h4 style="margin-top: 20px;">Content Creation and Curation:</h4>
      <p>Captivate your audience with compelling content. Our creative team crafts visually appealing graphics, engaging videos, and shareable posts that tell your brand story and inspire interaction.</p>
      <h4 style="margin-top: 20px;">Social Media Management:</h4>
      <p>Let us handle the day-to-day intricacies of social media. We manage your profiles, schedule posts, and engage with your audience, ensuring a consistent and vibrant online presence.</p>
      <h4 style="margin-top: 20px;">Influencer Collaborations:</h4>
      <p>Leverage the influence of social media personalities to extend your reach. We identify and collaborate with influencers aligned with your brand, fostering authentic partnerships that resonate with their followers.</p>
    </div>
  </section>
  {%endblock%}

  